.online{
    display: flex; 
    padding:10px;    
}
.online-img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
.online-txt{
    margin-left: 20px;
}
.online-txt h1{
    font-size: 90px;
    color:  #123f6b;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;

}
.online-txt p{
    font-size: 25px;
    color: #05040bec;
    line-height: 40px;
    margin-left: 15px;
}
@media screen and (max-width:700px){
  .online{
    flex-direction: column;
    padding: 2px;
  }
  .online-txt h1{
    font-size: 40px;
    margin-left: 2px;
    text-align: center;
  }
  .online-txt p{
    font-size: 17px;
    margin-left: 7px;
    margin-right: 7px;
  }
  .online-img{
    width:300px;
    height:300px;
    margin-left: 30px;
  }
}
.types-container {
    display: flex;
    flex-wrap: wrap;          
    gap: 20px;                
    justify-content: center; 
}

.types {
    display: flex;
    flex-direction: column;
    background-color: #123f6b; 
    border-radius: 10px;       
    padding: 15px;            
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    gap: 20px;

}
.types h3 {
    color: #ffffff;  
    margin-bottom: 1px;
    text-align: center;
    font-size: 37px;
 }

.types p {
    font-size: 23px;
    line-height: 1.5;
    text-align: center;
    color: #f0f0f0; 
}
@media screen and (max-width:700px){
  .types h3{
    font-size: 30px;
    margin-left: 2px;
    text-align: center;
  }
  .types p{
    font-size: 18px;
    margin-left: 7px;
    margin-right: 7px;
  }
}
.awareness{
    display: flex;
    background-color: #123f6b;
    color: white;
    font-size: 34px;
    justify-content: center;
    line-height: 67px;
    border-radius: 10px;
}
@media screen and (max-width:600px){
    .awareness{
    font-size: 19px;
    line-height: 33px;
}
}
.footer {
  background-color: #123f6b;
  color: #ffffff;
  padding: 40px 20px 10px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-box {
  flex: 1 1 120px;
}

.footer-box h3 {
  color: #9fd3ff;
  margin-bottom: 10px;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 6px;
}

.footer-box ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-box ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 10px;
}
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}



       